body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to bottom, #00c6ff, #0072ff);
    margin: 0;
}

#pressureGraph, #waterHeightGraph {
    width: 80%;
    height: 45%;
}

#data {
    color: white;
    font-size: 20px;
    margin-top: 20px;
}
